* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed black;
}

@keyframes show-loader {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rotate-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle-show{
    animation: show-loader .5s forwards;
}
.circle-rotate{
    animation: rotate-loader .5s infinite;
}
.circle-hide{
    animation: show-loader .5s reverse;
}
.circle.exited{

}

/*=====================================*/

.container {
    width: 100%
}

.progressbar {
    counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 60px;
    position: relative;
    text-align: center;
}

.progressbar li:first-child {
    left: 20px;
}

.progressbar li:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}


.scale{
    background-color: green;
    height: 6px;
    position: relative;
    top: 13px;
    left: 50px;

}

.progressbar li.active {
    color: green;
}

.progressbar li.active:before {
    border-color: green;
    /*background-color: green;*/
}
